@import "../../scss/variables";;

.main {
    .header-image {
        width: 100%;
        object-fit: cover;
        height: 20rem;
    }

    .text {
        padding: 0 3rem 3rem 3rem;

        p {
            font-size: 1.8rem;
        }
    }
}