@import "scss/css-reset";
@import "scss/variables";
@import "~bootstrap/scss/bootstrap";

html {
	height: 100%;
	font-family: 'Helvetica Neue', Helvetica, Arial;
	font-weight: 300;
	font-size: 62.5%;

	body {
		background-color: $color-background;
		color: $color-black;
		height: 100%;

		#root {
			height: 100%;
			display: flex;
			flex-direction: column;
			font-size: 1.6rem;

			h1 {
				font-weight: $font-light;
				text-align: center;
				font-size: 8rem;
				margin-top: 1rem;
				margin-bottom: 4rem;
			}
		}
	}
}
